.input-primaire {
    background-color: red;
    color: red;
}
.input-secoundery{
    background-color: blue;
    color: blue;
}
.input-tertiary{
    background-color: green;
    color: green;
}
.input-quaternary{
    background-color: yellow;
    color: yellow;
}
.input_display{
    display:'none'
}
.button-upload {
   
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px dashed #999;
    color: #999;
    font-size: 14px;
  }