/* buttonUpload.css */
.button-upload {
   
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px dashed #999;
    color: #999;
    font-size: 14px;
  }
  
  

  
  /* Style l'indicateur "Drop here" */
  .drag-indicator {
    /* Exemple : */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
  